Repository ROdenFL/Paradise-ex666, pull requests merged in 2024-02, with the labels that each got.

#9 мда
  _maps/map_files/Delta/delta.dmm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/constructable_frame.dm
  code/modules/research/designs/comp_board_designs.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/rdconsole.dm
Labels: MAP

#13 автогенерация названий для станций
  code/modules/economy/robotic_quests/robo_quests.dm
Labels: MAP, python, javascript, DMI, TGUI

#15 готово
  code/game/gamemodes/cult/cult_items.dm
  code/game/objects/items/weapons/shields.dm
  code/modules/clothing/upgrade_modules/hardsuit_shield_module/hardsuit_shield.dm
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/energy.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/weapons/energy.dmi
  icons/obj/weapons/projectiles.dmi
Labels: DMI

#16 да2
  code/game/machinery/autodoc.dm
  code/game/objects/items/tools/holotool.dm
  code/modules/projectiles/guns/energy/special.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/holotool.dmi
  paradise.dme
Labels: DMI
